# dependencies
node_modules/
.DS_Store

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Build
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs & Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Entorno (Cualquier archivo .env)
.env*
.env.local

# TypeScript
*.tsbuildinfo

# Next.js (por si acaso)
.next/
out/
build/